<!doctype html>
<html>
   <body>

      <h2 style = "text-align: center;">Add game</h2>

      {% for message in form.home.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.away.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.home_score.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.away_score.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.game.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.overtime.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      <form action = "{{ url_for('add_game') }}" method = post>
         {{ form.csrf_token }}
         <fieldset>
            <legend>Add game</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                {{ form.home.label }}<br>
                {{ form.home(list="players")}}
                <datalist id="players">
                    {% for player in players %}
                        <option value={{ player }}>
                    {% endfor %}
                </datalist>
                <br>

                {{ form.away.label }}<br>
                {{ form.away(list="players")}}
                <datalist id="players">
                    {% for player in players %}
                        <option value={{ player }}>
                    {% endfor %}
                </datalist>
                <br>

               {{ form.home_score.label }}<br>
               {{ form.home_score }}
               <br>

               {{ form.away_score.label }}<br>
               {{ form.away_score }}
               <br>

               {{ form.overtime.label }} {{ form.overtime }}
               <br>

               {{ form.game.label }}<br>
               {{ form.game(list="games", value="%max(games)%")}}
               <datalist id="games">
                   {% for game in games %}
                       <option value={{ game }}>
                   {% endfor %}
               </datalist>
               <br>

               {{ form.submit }}
            </div>

         </fieldset>
      </form>

   </body>
</html>
