<!DOCTYPE html>
<html>
  <head>
    <title>OFFICELEAGUE {{ league_title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
	<script type=text/javascript src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <div id="main">
      <div id="left">
        <div id="league_title"></div>
        <br>
        <table id="ppg_stats"></table>
        <br>
        <table id="game_results"></table>
        <br>
        <table id="recent_games"></table>
        <br>
        <table id="ppg_champions"></table>
        <br>
        <table id="overall_ppg"></table>
      </div>
	  <div id="right">
        <h2>Add game</h2>

        {% for message in form.home.errors %}
           <div>{{ message }}</div>
        {% endfor %}

        {% for message in form.away.errors %}
           <div>{{ message }}</div>
        {% endfor %}

        {% for message in form.home_score.errors %}
           <div>{{ message }}</div>
        {% endfor %}

        {% for message in form.away_score.errors %}
           <div>{{ message }}</div>
        {% endfor %}

        {% for message in form.game_edition.errors %}
           <div>{{ message }}</div>
        {% endfor %}

        {% for message in form.overtime.errors %}
           <div>{{ message }}</div>
        {% endfor %}

        <form action = "{{ url_for('stats') }}" method = post>
           {{ form.csrf_token }}
           <fieldset>
              {{ form.hidden_tag() }}

              <div>
                  {{ form.home.label }}<br>
                  {{ form.home(list="players")}}
                  <datalist id="players">
                      {% for player in players %}
                          <option value={{ player }}>
                      {% endfor %}
                  </datalist>
                  <br>

                  {{ form.away.label }}<br>
                  {{ form.away(list="players")}}
                  <datalist id="players">
                      {% for player in players %}
                          <option value={{ player }}>
                      {% endfor %}
                  </datalist>
                  <br>

                 {{ form.home_score.label }}<br>
                 {{ form.home_score }}
                 <br>

                 {{ form.away_score.label }}<br>
                 {{ form.away_score }}
                 <br>

                 {{ form.game_edition.label }}<br>
                 {{ form.game_edition(list="game_editions", value=current_game_edition) }}
                 <datalist id="game_editions">
                     {% for game_edition in game_editions %}
                         <option value={{ game_edition }}>
                     {% endfor %}
                 </datalist>
                 <br>

                 {{ form.overtime.label }} {{ form.overtime }}
                 <br>

                 {{ form.submit }}
              </div>

           </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>
