html, body {
    width: 99%;
    height: 99%;
}

#main {
    height: 100%;
    width: 100%;
    display: table;
}

#left {
    float: left;
    width: 80%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#right {
    width:20%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#league_title {
    width: 100%;
    padding-bottom: 2%;
    font: 28px/34px Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

table {
    margin: 0 auto;
    font: 22px/28px Verdana, Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 640px;
}

caption {
    font: 22px/28px Verdana, Arial, Helvetica, sans-serif;
    display: table-caption;
    text-align: center;
    font-weight: bold;
}

th {
    padding: 0 1em;
    text-align: left;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

tr.record {
    background-color: #ffb3b3
}

td {
    border-bottom: 1px solid #CCC;
    padding: 0 1em;
}

td.width {
    width: 380px;
}

td.adjacent {
    border-left: 1px solid #CCC;
    text-align: center;
}

fieldset {
    border: 0 none;
}

fieldset div {
    font-size:20px;
    font-weight:bold;
}
